[access]
	inheritFrom = All-Projects
[submit]
[project]
[access "refs/*"]
	owner = group user/springbootkorea
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/springbootkorea
	label-Verified = -1..+1 group user/springbootkorea
	push = group user/springbootkorea
	read = group user/springbootkorea
	rebase = group user/springbootkorea
	removeReviewer = group user/springbootkorea
	submit = group user/springbootkorea
[access "refs/heads/*"]
	create = group user/springbootkorea
	push = +force group user/springbootkorea
	pushMerge = group user/springbootkorea
	read = group user/springbootkorea
[access "refs/tags/*"]
	push = group user/springbootkorea
	push = +force group user/springbootkorea
[receive]
	createNewChangeForAllNotInTarget = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
